#postsContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 2% auto;
    flex-wrap: wrap;
    justify-content: center;
}

#postsContainer>div{
    margin:3.5% 3%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_day,.end_day{
    font-size: 14px;
}

p{
    margin-bottom: 10px !important;
}