#postsContainer{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2% 2%;
    align-items: stretch;
}

#postsContainer>div{
    gap: 20px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid gray;
    border-radius: 10%;
    margin: 2% 0;
    padding: 2%;
}

.start_day,.end_day{
    font-size: 14px;
}

p{
    margin-bottom: 10px !important;
}